.photo_and_text {
    margin-top: calc(2 * var(--size-unit));
    align-self: center;
}

.image {
    object-position: center;
    object-fit: cover;
    min-width: 54vw;
    height: 33vw;
}

@media screen and (max-width: 1024px) {
    .image {
        min-width: 85vw;
        height: 60vw;
    }
}