.horizontal_photo_and_text {
  display: flex;
  gap: clamp(0.5rem, -0.2143rem + 3.5714vw, 3rem);
  padding: 0 8.5%;
  margin-top: calc(4 * var(--size-unit));
}

.horizontal_photo_and_text .image_for_text {
  aspect-ratio: 621/465;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.horizontal_photo_and_text .image_box {
  width: 45%;
}

@media screen and (max-width: 1024px) {
  .horizontal_photo_and_text {
    flex-direction: column;
    align-items: stretch;
    gap: clamp(0.5rem, -0.2143rem + 4.9514vw, 3rem);
  }
  .horizontal_photo_and_text .image_box {
    width: calc(100% - 1.38vw);
  }
}
