.quote {
  position: relative;
  margin-top: calc(6 * var(--size-unit));
  margin-bottom: calc(2 * var(--size-unit));
  padding-top: 1rem;
  font-size: clamp(1.25rem, 0.9643rem + 1.4286vw, 2.25rem);
  font-variation-settings: "wght" 840, "CONT" 0, "MIDL" -800;
}

.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16.3%;
  background-color: var(--text-color-primary);
  transform: translateY(calc(-120%));
  aspect-ratio: 148/16;
}
