.svg {
  position: absolute;
  height: 100%;
  z-index: 0;
}

.svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.svg.svg_route {
  width: 45%;
  right: 3%;
  bottom: -12%;
}

.svg.svg_route path:not(:first-child) {
  animation-duration: 3s;
  animation-delay: 0.3s;
}

.svg.svg_route path:first-child {
  animation-duration: 1s;
}

@keyframes svgAnimation {
  to {
    stroke-dashoffset: 0;
  }
}
