.story {
  aspect-ratio: 433/236;
}

@media screen and (max-width: 600px) {
  .story {
    aspect-ratio: initial;
  }
}

.story_link {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: none;
  border-radius: var(--radius-main);
  background-color: #fff;
  transition: all 0.3s;
}

.story_link:hover {
  box-shadow: 0px 12px 32px rgba(0, 29, 61, 0.12);
  transform: translateY(-0.5em);
}

.story_link:hover .story_info::before {
  transform: translateY(-50%) scaleX(1.2);
}

.story_link:hover svg path {
  animation-name: svgAnimation;
}

.story_card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.story_heading {
  font-size: var(--text-size-xl);
  font-variation-settings: var(--text-weight-bold);
  line-height: 1.2;
  color: var(--text-color-primary);
}

@media screen and (max-width: 1035px) {
  .story_heading {
    font-size: calc(var(--text-size-xl) - 5px);
  }
}

@media screen and (max-width: 800px) {
  .story_heading {
    font-size: calc(var(--text-size-xl) - 8px);
  }
}

@media screen and (max-width: 655px) {
  .story_heading {
    font-size: calc(var(--text-size-xl) - 10px);
  }
}

@media screen and (max-width: 600px) {
  .story_heading {
    font-size: var(--text-size-xl);
    margin-bottom: var(--space-m);
  }
}

.story_author {
  font-size: var(--text-size-m);
  font-variation-settings: var(--text-weight-light);
  line-height: 1.5;
  color: var(--text-color-primary);
}

@media screen and (max-width: 1035px) {
  .story_author {
    font-size: calc(var(--text-size-m) - 4px);
  }
}

@media screen and (max-width: 800px) {
  .story_author {
    font-size: calc(var(--text-size-m) - 6px);
  }
}

@media screen and (max-width: 655px) {
  .story_author {
    font-size: calc(var(--text-size-m) - 8px);
  }
}

@media screen and (max-width: 600px) {
  .story_author {
    font-size: var(--text-size-m);
  }
}

.story_graphics {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.story_image {
  display: block;
  aspect-ratio: 434/325;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
  border-top-left-radius: var(--radius-main);
  border-top-right-radius: var(--radius-main);
}

@media screen and (max-width: 600px) {
  .story_image {
    aspect-ratio: 434/220;
  }
}

.story_info {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: clamp(0.5rem, 0.0932rem + 2.0339vw, 2rem)
    clamp(0.5rem, 0.2288rem + 1.3559vw, 1.5rem)
    clamp(0.5rem, 0.2288rem + 1.3559vw, 1.5rem);
  z-index: 1;
}

.story_info::before {
  content: '';
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%) scaleX(1);
  width: 34%;
  height: 0.8em;
  transition: all 0.4s;
  transform-origin: 0 center;
}

.story__large {
  grid-row: span 2;
  aspect-ratio: initial;
}

.story__large .story_info {
  flex-grow: 1;
  width: 100%;
  padding: clamp(0.5rem, 0.2288rem + 1.3559vw, 1.5rem);
  height: auto;
}

@media screen and (max-width: 600px) {
  .story_info {
    padding: 1.5rem 1rem;
  }
}

@media screen and (max-width: 600px) {
  .story__large {
    aspect-ratio: initial;
  }
}

@media screen and (max-width: 800px) {
  .story_info::before {
    width: 24%;
    height: 0.6em;
  }
}

@keyframes svgAnimation {
  to {
    stroke-dashoffset: 0;
  }
}
