.story {
  aspect-ratio: 433/236;
}

@media screen and (max-width: 600px) {
  .story {
    aspect-ratio: initial;
  }
}

.svg {
  position: absolute;
  height: 100%;
  z-index: 0;
}

.svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.story_link {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: none;
  border-radius: var(--radius-main);
  background-color: #fff;
  transition: all 0.3s;
}

.story_link:hover {
  box-shadow: 0px 12px 32px rgba(0, 29, 61, 0.12);
  transform: translateY(-0.5em);
}

.story_link:hover .story_info::before {
  transform: translateY(-50%) scaleX(1.2);
}

.telegram_link {
  background-color: var(--accent-color);
  position: relative;
}

.telegram_link .story_graphics {
  overflow: visible;
}

@media screen and (max-width: 600px) {
  .telegram-link::after {
    width: 60%;
    left: initial;
    right: 0;
  }
}

.story_card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.story_graphics {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.story_image {
  display: block;
  aspect-ratio: 434/325;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
  border-top-left-radius: var(--radius-main);
  border-top-right-radius: var(--radius-main);
}

@media screen and (max-width: 600px) {
  .story_image {
    aspect-ratio: 434/220;
  }
}

.story_info {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: clamp(0.5rem, 0.0932rem + 2.0339vw, 2rem)
    clamp(0.5rem, 0.2288rem + 1.3559vw, 1.5rem)
    clamp(0.5rem, 0.2288rem + 1.3559vw, 1.5rem);
  z-index: 1;
}

.story_info::before {
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%) scaleX(1);
  width: 34%;
  height: 0.8em;
  transition: all 0.4s;
  transform-origin: 0 center;
}

@media screen and (max-width: 600px) {
  .story_info {
    padding: 1.5rem 1rem;
  }
}

@media screen and (max-width: 800px) {
  .story_info::before {
    width: 24%;
    height: 0.6em;
  }
}

.telegram_link .story_info::before {
  content: none;
}

.svg.svg_telegram {
  bottom: -34%;
  left: 8%;
  width: 90%;
  height: 100%;
}

.svg.svg_telegram path:nth-child(1) {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

.svg.svg_telegram path:nth-child(2) {
  stroke-dasharray: 530 40;
  stroke-dashoffset: 0;
  animation-duration: 2s;
}

.story_link:hover .svg_telegram path:nth-child(2) {
  animation-name: svgAnimationTelegram;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (max-width: 600px) {
  .svg.svg_telegram {
    left: 36%;
    width: 60%;
  }
}

@keyframes svgAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes svgAnimationTelegram {
  to {
    stroke-dashoffset: 1140;
  }
}
