.svg {
  position: absolute;
  z-index: 0;
}

.svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.svg.svg_lightning {
  right: 10px;
  bottom: 10px;
}

.svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.svg.svg_lightning path:first-child {
  animation-duration: 1s;
}

.svg.svg_lightning path:not(:first-child) {
  animation-duration: 3s;
  animation-delay: 0.3s;
}

.svg.svg_lightning path:first-child {
  animation-duration: 1s;
}

@keyframes svgAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 1024px) {
  .svg.svg_lightning {
    right: 10px;
    bottom: -10px;
    transform: scale(0.6);
  }
}
