.heading_large {
  position: relative;
  width: fit-content;
  padding: 2% 6% 3%;
  background-color: var(--accent-color);
}

.heading_large::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 26.2%;
  background-color: var(--text-color-primary);
  transform: translateY(calc(-220%));
  aspect-ratio: 180/24;
}

.article_cover_two_columns__reversed .heading_large::before {
  right: 0;
  left: initial;
}

.article_cover_two_columns {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2.2vw;
  min-width: 80vw;
  align-self: center;
  margin-bottom: 60px;
}

.article_cover_two_columns .heading_box {
  bottom: 4.8%;
  left: 8.5%;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.article_cover_two_columns .cover_image {
  position: relative;
  width: 48%;
  object-fit: cover;
  object-position: center;
  box-shadow: 2.2vw 2.2vw 0 var(--accent-color);
  transform: translateX(-2.2vw);
  aspect-ratio: 551/664;
}

@media (max-width: 1024px) {
  .article_cover_two_columns {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 25%;
  }
  .article_cover_two_columns .heading_box {
    position: absolute;
    right: 2%;
    bottom: -30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 85%;
    order: 2;
  }
  .article_cover_two_columns .subheading {
    width: 100%;
  }
  .article_cover_two_columns .cover_image {
    width: calc(100% - 2.2vw);
    aspect-ratio: 1376/900;
    transform: translateX(0);
  }
}

/* Конец */

/* Входная секция с картинкой слева */

.article_cover_two_columns__reversed {
  position: relative;
  display: flex;
  min-width: 80vw;
  align-self: center;
  margin-bottom: 60px;
}

.article_cover_two_columns__reversed .heading_box {
  position: absolute;
  right: 8.5%;
  bottom: 4.8%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.article_cover_two_columns__reversed .subheading {
  align-self: flex-end;
  width: 50%;
  text-align: right;
}

.article_cover_two_columns__reversed .cover_image {
  position: relative;
  width: 48%;
  margin-left: 8.5%;
  object-fit: cover;
  object-position: center;
  box-shadow: -2.2vw 2.2vw 0 var(--accent-color);
  transform: translateX(2.2vw);
  aspect-ratio: 551/664;
}
@media (max-width: 1024px) {
  .article_cover_two_columns__reversed {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 25%;
  }
  .article_cover_two_columns__reversed .heading_box {
    position: absolute;
    right: 2%;
    bottom: -30%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    max-width: 85%;
    order: 2;
  }
  .article_cover_two_columns__reversed .subheading {
    width: 100%;
  }
  .article_cover_two_columns__reversed .cover_image {
    width: calc(100% - 2.2vw);
    aspect-ratio: 1376/900;
    transform: translateX(0);
  }
}
