.article {
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.a_article {
  display: flex;
  align-items: center;
  gap: 7px;
  border-bottom: none;
}
