@import url(../styles/variables.css);

.about {
  padding-top: calc(2 * var(--size-unit));
}
.about_heading {
  width: var(--inner-width-main);
  margin: auto;
  margin-bottom: calc(2 * var(--size-unit));
}
.about_lead {
  width: var(--inner-width-main);
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(3 * var(--size-unit));
}
.about_paragraph {
  width: var(--inner-width-main);
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(2 * var(--size-unit));
}
.about_second_heading {
  width: var(--inner-width-main);
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(4 * var(--size-unit));
  font-size: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);
  font-variation-settings: 'wght' 700;
  line-height: 1;
}
