.comic-book {
  display: flex;
  justify-content: center;
}

.comic-book__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.comic-book__heading {
}

.comic-book__text {
}

.comic-book__wrapper {
}
