@import url('./variables.css');
@import url('./styles.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  max-width: 1650px;
  margin: 0 auto;
  font-family: var(--font-main);
  font-feature-settings: 'ss01' on;
  background-color: #f5f5f5;
  padding: clamp(0.5rem, 0.2288rem + 1.3559vw, 1.5rem)
    clamp(0.625rem, 0.1674rem + 2.2881vw, 2.3125rem)
    clamp(0.75rem, 0.2754rem + 2.3729vw, 2.5rem);
}

:root {
  /* СЕКЦИИ */
  --body-padding-top-bottom: 32px 0 80px;
  --content-section-width-main: 95.5%;
  --radius-main: 0.8rem;
  --size-unit: clamp(
    0.75rem,
    0.6786rem + 0.3571vw,
    1rem
  ); /* from 16px to 12px */
  --inner-width-main: 58%;
  --inner-width-large: 63%;
  --inner-width-over-content: calc(
    var(--content-section-width-main) / 100 * 65.84
  );
  --inner-width-small: calc(var(var(--inner-width-main)) - 50px);
  --header-height: 600px;
  --full-page-aspect-ratio: 1376/600;
  --slider-width: 65.8%;
  --right-arrow-shift: 10%;
  --left-arrow-shift: 10%;
  --article-content-width: calc(100% + 200px);
  --slide-size: 55vh;
  /* ОТСТУПЫ */
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-2xl: 32px;
  --space-3xl: 40px;

  --font-main: kyivtype, sans-serif;

  /* размеры считаются тут: clamp.font-size.app */
  --text-size-s: clamp(0.75rem, 0.6591rem + 0.4545vw, 1rem); /* 12-16px */
  --text-size-m: clamp(1rem, 0.9091rem + 0.4545vw, 1.25rem); /* 16-20px */
  --text-size-l: clamp(1.25rem, 1.1591rem + 0.4545vw, 1.5rem); /* 20-24px */
  --text-size-xl: clamp(1.5rem, 1.3182rem + 0.9091vw, 2rem); /* 24-32px */
  --text-size-2xl: clamp(1.75rem, 1.5682rem + 0.9091vw, 2.25rem); /* 28-36px */
  --text-size-3xl: clamp(2rem, 1.6364rem + 1.8182vw, 3rem); /* 32-48px */
  --text-size-4xl: clamp(2.5rem, 1.4091rem + 5.4545vw, 5.5rem); /* 40-88px */

  /* цвета */
  --text-color-primary: #001d3d;
  --text-color-secondary: hsla(211, 100%, 12%, 0.6);
  --text-color-link: #0975e8;
  --text-color-link-hover: #0975e8;

  /* жирности */
  --text-weight-black: 'wght' 840, 'CONT' 0, 'MIDL' -1000;
  --text-weight-bold: 'wght' 700;
  --text-weight-semibold: 'wght' 500;
  --text-weight-normal: 'wght' 350;
  --text-weight-light: 'wght' 150;
}

@media screen and (max-width: 650px) {
  :root {
    --inner-width-main: 80%;
    --inner-width-large: 80%;
    --inner-width-over-content: var(--content-section-width-main);
    --full-page-aspect-ratio: 1376/900;
    --body-padding-top-bottom: 0 0 calc(2 * var(--size-unit));
    --slider-width: 90%;
    --right-arrow-shift: -2%;
    --left-arrow-shift: -3%;
    --text-caption: clamp(0.625rem, 0.5179rem + 0.5357vw, 1rem);
    --slide-size: 300px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  border-bottom: 1px solid currentColor;
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

body {
  color: var(--text-color-primary);
}

ul {
  list-style: none;
}

.text-type-h1 {
  font-size: var(--text-size-4xl);
  font-variation-settings: var(--text-weight-black);
  line-height: 1;
  color: var(--text-color-primary);
}

.text-type-h2 {
  font-size: var(--text-size-3xl);
  font-variation-settings: var(--text-weight-bold);
  line-height: 1.2;
  color: var(--text-color-primary);
}
.text-type-h2:not(:last-child) {
  margin-bottom: var(--space-l);
}

.text-type-h3 {
  font-size: var(--text-size-xl);
  font-variation-settings: var(--text-weight-bold);
  line-height: 1.2;
  color: var(--text-color-primary);
}
.text-type-h3:not(:last-child) {
  margin-bottom: var(--space-m);
}

.text-type-lead {
  font-size: var(--text-size-l);
  font-variation-settings: var(--text-weight-semibold);
  line-height: 1.5;
  color: var(--text-color-primary);
}
.text-type-lead:not(:last-child) {
  margin-bottom: var(--space-l);
}

.text-type-p {
  font-size: var(--text-size-m);
  font-variation-settings: var(--text-weight-light);
  line-height: 1.5;
  color: var(--text-color-primary);
}
.text-type-p:not(:last-child) {
  margin-bottom: var(--space-m);
}

.text-type-list {
  font-size: var(--text-size-m);
  font-variation-settings: var(--text-weight-light);
  line-height: 1.5;
  color: var(--text-color-primary);
  padding-left: 0.7em;
}

.text-type-list::marker {
  content: '•';
  font-size: clamp(0.625rem, 0.4464rem + 0.8929vw, 1.25rem);
  font-variation-settings: 'wght' 350;
}

.text-type-quote {
  font-size: var(--text-size-2xl);
  font-variation-settings: var(--text-weight-black);
  color: var(--text-color-primary);
}

.text-type-caption {
  font-size: var(--text-size-s);
  font-variation-settings: var(--text-weight-normal);
  line-height: 1.5;
  color: var(--text-color-secondary);
}

.text-view-primary {
  color: var(--text-color-primary);
}

.text-view-secondary {
  color: var(--text-color-secondary);
}

.text-weight-black {
  font-variation-settings: var(--text-weight-black);
}

.text-weight-bold {
  font-variation-settings: var(--text-weight-bold);
}

.text-weight-semibold {
  font-variation-settings: var(--text-weight-semibold);
}

.text-weight-normal {
  font-variation-settings: var(--text-weight-normal);
}

.text-weight-light {
  font-variation-settings: var(--text-weight-light);
}

.mt-1 {
  margin-top: var(--size-unit);
}

.mt-2 {
  margin-top: calc(2 * var(--size-unit));
}

.mt-3 {
  margin-top: calc(3 * var(--size-unit));
}

.mt-4 {
  margin-top: calc(4 * var(--size-unit));
}
.mt-5 {
  margin-top: calc(5 * var(--size-unit));
}
.mt-6 {
  margin-top: calc(6 * var(--size-unit));
}

.mb-1 {
  margin-bottom: var(--size-unit);
}

.mb-2 {
  margin-bottom: calc(2 * var(--size-unit));
}

.box-radius {
  border-radius: var(--radius-main);
}

.text-type-quote {
  font-size: var(--text-size-2xl);
  font-variation-settings: var(--text-weight-black);
  color: var(--text-color-primary);
}

.reversed-shadow {
  box-shadow: 1.38vw -1.38vw 0 var(--accent-color);
}
