.main {
  width: 80%;
  margin: auto;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  color: #000;
  border-radius: 18px;
  padding: 20px;
}

.card:hover {
  transform: scale(1.01);
}
