@import url("./fonts.css");

.theme-turquoise {
  --accent-color: #98e2db;
}

.theme-red {
  --accent-color: #f0716a;
}

.theme-blue {
  --accent-color: #76baf9;
}

.theme-purple {
  --accent-color: #ae8bf4;
}

.theme-pink {
  --accent-color: #f49abe;
}

.theme-yellow {
  --accent-color: #f2e369;
}

.theme-orange {
  --accent-color: #f49f67;
}

.theme-green {
  --accent-color: #99e1a2;
}
